hello please make a new doctor
<form method="post" action="/doctors">
    <input name="name" type="text" placeholder="Name..." />
    <input name="specialism" type="text" placeholder="Specialism..." />
    <input name="years_experience" type="number" placeholder="Years of experience..." step="1" />
    <input type="submit" />
</form>